@import 'variables';
@import 'mixins';

.home-brands-container {
    width: 100%;
    background-color: $lightWhite;
    padding: 48px 0px;

    .home-brands {
        max-width: 1200px;
        text-align: center;
        margin: auto;

        .brands-title {
            margin-bottom: 60px;
            color: $lightBlack;
            font-size: 1.55rem;
        }

        .brands-slider {
            .brand-item{
                cursor: pointer;
                
                .brand-img {
                    background: white;
                    width: 70%;
                    border-radius: 12px;
                }
            }
        }

        .btn-show-brands {
            @include show-all-btn;
        }
        .btn-show-brands:hover {
            @include show-all-btn-hover;
        }
    }
}

@media screen and (max-width: 480px) {
    .home-brands-container {
        .home-brands {
            max-width: 480px;
            .brands-title {
                margin-bottom: 48px;
            }
            .brands-slider {
                .slick-slider {
                    max-width: 480px;
                    margin: 0px 28px;
                    .brand-img {
                        width: 80%;
                        margin: auto;
                    }
                }
            }
            .btn-show-brands {
                margin-top: 48px;
                width: 250px;
            }
        }
    }
}