@import 'variables';
@import 'mixins';

.home-brands-container {
    width: 100%;
    background-color: $lightWhite;
    padding: 48px 0px;

    .home-brands {
        max-width: 1200px;
        text-align: center;
        margin: auto;

        .brands-title {
            margin-bottom: 60px;
            color: $lightBlack;
            font-size: 1.55rem;
        }

        .brands-slider {
            .brand-item{
                cursor: pointer;
                
                .brand-img {
                    background: white;
                    width: 70%;
                    border-radius: 12px;
                }
            }
        }

        .btn-show-brands {
            @include show-all-btn;
        }
        .btn-show-brands:hover {
            @include show-all-btn-hover;
        }
    }
}