<div class="home-brands-container">
    <div class="home-brands">
        <h2 class="brands-title">برترین برند ها در بانی مد</h2>
        <div class="brands-slider">
            <ngx-slick-carousel class='carousel' #slickModal='slick-carousel' [config]='screenWidth > 600 ? brandsSlideConfig : mobileSlideConfig'>
                <div ngxSlickItem class="brand-item" *ngFor='let brand of homeBrands'>
                    <img src="{{brand.logo}}" alt="brand" class="brand-img">
                </div>
            </ngx-slick-carousel>
        </div>
        <button class="btn-show-brands">مشاهده همه برند ها</button>
    </div>
</div>