<div class="login-box-container">
    <mat-dialog-actions>
        <button mat-dialog-close class="btn-close"><i class="fas fa-times"></i></button>
    </mat-dialog-actions>

        <mat-dialog-content *ngIf='!showPhoneSection' class="login-box-content">
            <h2 class="login-title">ورود یا ثبت نام</h2>

            <p class="login-subtitle">لطفا برای ادامه شماره همراه خود را وارد نمایید.</p>

            <div class="login-input-container">
                <input type="tel" name="" id="" [(ngModel)]='phoneInput' class="login-number-input" placeholder="شماره همراه" maxlength="11" [style.border-color]="isNextBtnClicked ? (!phoneInput || phoneError || phoneInput.length < 11) ? 'red' : '#b9b9b9' : null">
                <i class="far fa-user-circle right-avatar-icon"></i>

                <p class="input-error" *ngIf='!phoneError' [style.opacity]='(!phoneInput && isNextBtnClicked) || (phoneInput.length < 11 && isNextBtnClicked) ? 1 : 0'>شماره موبایل به درستی وارد نشده است!</p>

                <p class="input-error" *ngIf='phoneError' [style.opacity]='(phoneError && isNextBtnClicked) ? 1 : 0'>{{phoneError}}</p>
            </div>

            <button (click)='onNextBtnClick()' class="btn-continue">ادامه</button>

            <div class="policy-container">
                <mat-checkbox class="policy-checkbox" [(ngModel)]='policyChecked' [style.color]="isNextBtnClicked ? policyChecked ? '#444444' : 'red' : null">
                    <a href="" [style.color]="isNextBtnClicked ? policyChecked ? '#444444' : 'red' : null">شرایط و قوانین</a> استفاده از سرویس های سایت بانی‌مد را می پذیرم .</mat-checkbox>
            </div>
        </mat-dialog-content>

        <mat-dialog-content *ngIf='!showPhoneSection && !showLoginSuccess' class="login-box-content">
            <h3 class="login-title">ورود به بانی‌مد</h3>
            <p class="login-subtitle">کد تایید ۵ رقمی ارسال شده به شماره همراه زیر را وارد نمایید.</p>

            <div class="phone-row">
                <p class="phone-number">{{phoneInput}}<p>
                <button class="btn-edit-phone" (click)='onEditPhoneClick()'> <i class="far fa-edit"></i> <span>ویرایش شماره</span></button>
            </div>

            <div class="verif-code-container">
                <ng-otp-input (onInputChange)="onVerifChange($event)"  [config]="{length:5, inputStyles:{'border-radius':'12px', 'border-color': verifError ? 'red' : '#c5c7cb' ,'width':'65px', 'height':'60px', 'font-size':'24px', 'margin':'12px 10px'}}"></ng-otp-input>
                <p class="verif-error" [style.opacity]='verifError ? 1 : 0'>{{verifError}}</p>
            </div>

            <div class="resend-container">
                <div *ngIf="totalTime" class="remained-time-container">
                    <p><span>دقیقه</span> {{verifTimer}} <mat-spinner></mat-spinner></p>
                </div>

                <button *ngIf="!totalTime" class="btn-resend-code" (click)='onResendCodeClick()'> <i class="fas fa-sync"></i> <span>ارسال مجدد</span></button>
            </div>
        </mat-dialog-content>

        <mat-dialog-content *ngIf='showLoginSuccess && !showPassSection' class="login-box-content">
            <img src="./../../../../assets/icons/success-login.svg" alt="" class="success-login-img">
            <h3 class="success-login-title">با موفقیت وارد شدید!</h3>
            <p class="login-subtitle success-subtitle">برای داشتن تجربه خرید بهتر برای حساب شخصی خود کلمه عبور تعیین کنید.</p>
            <div class="success-btns">
                <button class="btn-home" mat-dialog-close>ادامه</button>
                <button class="btn-password" (click)='onSetPassClick()'>تعیین کلمه عبور</button>
            </div>
        </mat-dialog-content>

        <mat-dialog-content *ngIf='showPassSection' class="login-box-content">
            <div class="set-pass-container">
                <h2 class="login-title">ثبت نام در بانی‌مد</h2>
                <p class="login-subtitle pass-subtitle">
                    جهت افزایش امنیت حساب کاربری خود، یک کلمه عبور وارد نمایید.
                    <span>(کلمه عبور حداقل باید ۶ کارکتر باشد)</span>
                </p>

                <div class="login-input-container pass-container" >
                    <input [type]="showPassword ? 'text' : 'password'" [style.border-color]="passError ? 'red' : '#b9b9b9'" class="login-number-input" placeholder="کلمه عبور" [(ngModel)]='password'>
                    <i class="fa fa-lock right-avatar-icon"></i>
                    <i class ='far left-avatar-icon' *ngIf='password' [class]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="showPassword = !showPassword"></i>
                    <p class="pass-error" [style.opacity]='passError ? 1 : 0'>{{passError}}</p>
                </div>

                <div class="login-input-container pass-container">
                    <input [type]="showRepassword ? 'text' : 'password'" [style.border-color]="rePassError ? 'red' : '#b9b9b9'" class="login-number-input" placeholder="تکرار کلمه عبور" [(ngModel)]='rePassword'>
                    <i class="fa fa-lock right-avatar-icon"></i>
                    <i class ='far left-avatar-icon' *ngIf='rePassword' [class]="showRepassword ? 'fa-eye-slash' : 'fa-eye'" (click)="showRepassword = !showRepassword" ></i>
                    <p class="pass-error" [style.opacity]='rePassError ? 1 : 0'>{{rePassError}}</p>
                </div>

                <button class="btn-submit-pass" (click)='onPassSubmitClick()'>ادامه</button>
            </div>
        </mat-dialog-content>
</div>