@import 'variables';
@import 'mixins';

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    border-radius: 6px !important;
}
::ng-deep  .mat-checkbox-inner-container {
    margin-right: 0px !important;
    margin-left: 8px !important;
}
::ng-deep  .mat-checkbox-frame {
    border-radius: 5px !important;
    background-color: $green !important;
    border-style: none !important;
}

::ng-deep .mat-dialog-content {
    // overflow-y: hidden !important;
    max-height: 80vh !important;
}
::ng-deep .mat-dialog-actions {
    min-height: 48px !important;
}
::ng-deep .mat-dialog-container {
    border-radius: 14px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: $darkGray;
}
::ng-deep .mat-spinner svg {
    width: 18px !important;
    height: 18px !important; 
}
::ng-deep .mat-spinner {
    width: 20px !important;
    height: 20px !important; 
    margin-top: 3px !important;
}

.login-box-container {
    width: 38vw;
    border-radius: 1px;
    position: relative;
    direction: rtl;

    .btn-close {
        position: absolute;
        font-size: 1.5rem;
        top: 4px;
        left: 12px;
        background: none;
        border-style: none;
        color: $gray;
        transition: color 0.2s;
        cursor: pointer;
    }
    .btn-close:hover {
        color: $darkGray;
    }

    .login-box-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        
        .login-title {
            text-align: center;
            margin-bottom: 28px;
            color: $lightBlack;
        }

        .login-subtitle {
            text-align: center;
            margin: auto;
            margin-bottom: 24px;
            color: $gray;
        }

        .login-input-container {
            width: 100%;
            margin: auto;
            margin-bottom: 12px;
            position: relative;

            ::placeholder {
                color: $lightGray;
            }
            
            .login-number-input {
                width: 65%;
                padding: 16px 64px 16px 12px;
                font-size: 16px;
                border: {
                    radius: 12px;
                    color: $lightGray;
                    style: solid;
                    width: 1px;
                }
                text-align: right;
                transition: border-color 0.3s;
            }
            .login-number-input:focus {
                outline: none;
            }

            .right-avatar-icon {
                position: absolute;
                top: 15px;
                right: 75px;
                color: $lighterGray;
                font-size: 1.5rem;
            }

            .input-error {
                font-size: 12px;
                margin : {
                    top: 5px;
                    right: 55px;
                }
                color: red;
                text-align: right;
                transition: opacity 0.3s;
            }
        }

        .btn-continue {
            @include green-btn;
            padding: {
                top: 20px;
                bottom: 20px;
            }
            width: 80%;
            border-radius: 12px;
            margin: 0px auto 24px auto;
            cursor: pointer;
            transition: background 0.3s;
        }
        .btn-continue:hover {
            background-color: $darkGreen
        }

        .policy-container {
            margin-bottom: 48px;
            direction: rtl;
            
            .policy-checkbox {
                color: $darkGray;
                width: 75%;
                font: {
                    family: 'iranyekan';
                    size: 0.75rem;
                }
                transition: all 0.2s;
                
                a {
                    color: $darkGray;
                    font-family: 'iranyekan-bold';
                    text-decoration: underline;
                    transition: all 0.2s;
                }
            }
        }

        .phone-row {
            display: flex;
            justify-content: space-between;
            width: 58%;
            margin: -12px auto 24px auto;
            
            .phone-number {
                font-size: 16px;
                margin-top: 3px;
                font-family: 'iranyekan-bold';
            }

            .btn-edit-phone {
                border-style: none;
                background: none;
                color: $green;
                font-size: 16px;
                
                i {
                    margin-left: 8px;
                }
            }
        }

        .verif-code-container {
            direction: ltr;
            margin-bottom: 28px;
            position: relative;
            
            .verif-error {
                position: absolute;
                right: 0;
                top: 74px;
                font-size: 12px;
                margin : {
                    top: 5px;
                    right: 55px;
                }
                color: red;
                text-align: right;
                transition: opacity 0.3s;
            }
        }

        .resend-container {
            direction: ltr;
            margin-bottom: 36px;
            
            .remained-time-container {
                padding: 18px;
                background-color: $milky;
                color: $darkGray;
                border-radius: 12px;
                margin: auto;
                width: 75%;

                p {
                    font-size: 1.1rem;
                    display: flex;
                    justify-content: space-between;
                    width: 45%;
                    margin: auto;
                    padding: 4px 0px
                }
            }
            
            .btn-resend-code {
                @extend .btn-continue;
                font: {
                    size: 1.05rem;
                    family: 'iranyekan-bold';
                }
                position: relative;
                margin-bottom: 30px;
                cursor: pointer;

                span {
                    margin-right: 50px;
                }

                i {
                    position: absolute;
                    right: 33%;
                    top: 33%;
                    font-size: 24px;
                }
            }
        }

        .success-login-img {
            width: 30%;
            margin: 0px auto 36px auto;
        }

        .success-login-title {
            color: $green;
            font-size: 1.4rem;
            margin-bottom: 36px;
        }
        
        .success-subtitle {
            margin-bottom: 48px;
            width: 70%;
        }

        .success-btns {
            display: flex;
            justify-content: space-between;
            width: 75%;
            margin: 0px auto 36px auto;
            
            .btn-home {
                @include green-btn;
                border-radius: 12px;
                padding: 18px 70px;
                font-size: 16px;
            }
            .btn-home:hover {
                background-color: $darkGreen;
            }
            
            .btn-password {
                background: none;
                border: 1px solid $lightGray;
                padding: 18px 32px;
                font-size: 16px;
                border-radius: 12px;
                transition: all 0.25s;
            }
            .btn-password:hover {
                border-color: $green;
                color: $green;
            }

        }

        .pass-container {
            margin-top: 24px;
        .pass-subtitle {
            color: $lightBlack;
            width: 80%;
            text-align: right;

            span {
                color: $lightGray;
                font-size: 0.8rem;
            }
        }
        .left-avatar-icon {
            position: absolute;
            top: 17px;
            left: 70px;
            color: $lighterGray;
            font-size: 1.4rem;
        }
        .pass-error {
            position: absolute;
                right: 0;
                top: 52px;
                font-size: 12px;
                margin : {
                    top: 5px;
                    right: 55px;
                }
                color: red;
                text-align: right;
                transition: opacity 0.3s;
        }
        .btn-submit-pass {
            @include green-btn;
            width: 80%;
            padding: 20px 0px;
            border-radius: 12px;
            margin: 24px 0px 32px 0px;
        }
        .btn-submit-pass:hover {
            background-color: $darkGreen;
        }
    }

        .pass-success-title {
            color: $green;
            font-size: 1.3rem;
            margin-top: 12px;
        }
        .btn-pass-success {
            @include green-btn;
            width: 80%;
            padding: 20px 0px;
            border-radius: 12px;
            margin: 32px auto 32px auto;
        }

        .btn-otp-login {
            @include green-backless-btn;
            font-size: 15px;
            margin-bottom: 24px;
        }
        .btn-otp-login:hover {
            color: $darkGreen;
        }
        .forgot-password {
            font-size: 14px;
            color: $gray;
            margin-top: 6px;
            button {
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
}