<div class="login-box-container">
    <mat-dialog-actions>
        <button mat-dialog-close class="btn-close"><i class="fas fa-times"></i></button>
    </mat-dialog-actions>

        <mat-dialog-content *ngIf='showPhoneSection' class="login-box-content">
            <h2 class="login-title">ورود یا ثبت نام</h2>

            <p class="login-subtitle">لطفا برای ادامه شماره همراه خود را وارد نمایید.</p>

            <div class="login-input-container">
                <input type="tel" name="" id="" [(ngModel)]='phoneInput' class="login-number-input" placeholder="شماره همراه" maxlength="11" [style.border-color]="isNextBtnClicked ? (!phoneInput || phoneError || phoneInput.length < 11) ? 'red' : '#b9b9b9' : null">
                <i class="far fa-user-circle avatar-icon"></i>

                <p class="input-error" *ngIf='!phoneError' [style.opacity]='(!phoneInput && isNextBtnClicked) || (phoneInput.length < 11 && isNextBtnClicked) ? 1 : 0'>شماره موبایل به درستی وارد نشده است!</p>

                <p class="input-error" *ngIf='phoneError' [style.opacity]='(phoneError && isNextBtnClicked) ? 1 : 0'>{{phoneError}}</p>
            </div>

            <button (click)='onNextBtnClick()' class="btn-continue">ادامه</button>

            <div class="policy-container">
                <mat-checkbox class="policy-checkbox" [(ngModel)]='policyChecked' [style.color]="isNextBtnClicked ? policyChecked ? '#444444' : 'red' : null">
                    <a href="" [style.color]="isNextBtnClicked ? policyChecked ? '#444444' : 'red' : null">شرایط و قوانین</a> استفاده از سرویس های سایت بانی‌مد را می پذیرم .</mat-checkbox>
            </div>
        </mat-dialog-content>

        <mat-dialog-content *ngIf='!showPhoneSection' class="login-box-content">
            <h3 class="login-title">ورود به بانی‌مد</h3>
            <p class="login-subtitle">کد تایید ۵ رقمی ارسال شده به شماره همراه زیر را وارد نمایید.</p>

            <div class="phone-row">
                <p class="phone-number">09330481983</p>
                <button class="btn-edit-phone" (click)='onEditPhoneClick()'> <i class="far fa-edit"></i> <span>ویرایش شماره</span></button>
            </div>

            <div class="verif-code-container">
                <ng-otp-input (onInputChange)="onOtpChange($event)"  [config]="{length:5, inputStyles:{'border-radius':'12px','width':'65px', 'height':'60px', 'font-size':'24px', 'margin':'12px 10px'}}"></ng-otp-input>
            </div>

            <div class="resend-container">
                <div *ngIf='totalTime' class="remained-time-container">
                    <p><span>دقیقه</span> {{verifTimer}}</p>
                </div>

                <button *ngIf='!totalTime' class="btn-resend-code" (click)='onResendCodeClick()'> <i class="fas fa-sync"></i> <span>ارسال مجدد</span></button>
            </div>
        </mat-dialog-content>
</div>