@import 'variables';
@import 'mixins';

footer {
    margin-top: 100px;
    background-color: white;
    width: 100%;
    font-family: 'iranyekan';
    padding: {
        top: 48px;
        bottom: 16px;
    }
    border-top: 5px solid $milky;

    .footer-container {
        max-width: 1200px;
        margin: auto;

        .footer-row-1 {
            display: flex;
            justify-content: space-between;
        }
        
        .refrence-list {
            width: 45%;
            display: flex;
            justify-content: space-between;

            .list-container {
                .list-title {
                    color: $gray;
                    margin-bottom: 24px;
                }

                .links-list {
                    list-style: none;

                    .list-item {
                        font-size: 0.9rem;
                        margin: 12px 0px;
                        
                        a {
                            color: $lightBlack;
                            position: relative;
                            transition: all 0.3s;
                        }
                        a:hover {
                            color: $green;
                        }
                        a::after {
                            content: '';
                            position: absolute;
                            height: 1px;
                            background-color: $green;
                            bottom: -2px;
                            margin: 0px auto;
                            left: 0%;
                            width: 100%;
                            transform: scaleX(0);
                            transition: transform 0.3s;
                        }
                        a:hover:after {
                            transform: scaleX(1);
                        }

                    }
                }
            }
        }

        .contact-info-container {
            .contact-info-title {
                margin-bottom: 24px;

                p {
                    font-size: 0.9rem;
                    margin-top: 10px;
                }
            }

            .contact-ways-container {
                p {
                    color: $darkGray;
                    font-size: 0.85rem;
                    margin-bottom: 20px;

                    a {
                        color: black;
                        font-family: 'iranyekan-bold';
                        font-size: 1.05rem;
                    }
                    a:hover {
                        color: $green;
                    }
                }
            }
            
        }

        .icons-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            direction: ltr;
            
            .footer-brand {
                width: 190px;
                margin-bottom: 30px;
                cursor: pointer;
            }

            .btn-download {
                @include green-btn-outline;
                padding: 6px 36px;
                margin-bottom: 48px;
                cursor: pointer;

                i {
                    margin-left: 6px;
                }
            }
            .btn-download:hover {
                @extend .btn-download;
                @include green-btn-outline-hover;
            }

            .social-icons {
                display: flex;
                
                .social-icon {
                    width: 22px;
                    height: 22px;
                    margin: 0px 24px 0px 12px;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.2s;
                    
                    img {
                        width: 100%;
                    }
                }
                .social-icon:hover {
                    filter: invert(49%) sepia(66%) saturate(2615%) hue-rotate(123deg) brightness(98%) contrast(103%);
                }
                .social-icon::after {
                    content: '';
                    position: absolute;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    border: 1px solid black;
                    top: -13px;
                    right: -13px;
                    transition: all 0.2s;
                }
                .social-icon:hover::after {
                    border-color: $green;
                }
            }
        }

        .footer-row-2 {
            display: flex;
            justify-content: space-between;
            margin-top: 36px;
            
            .about-banimode{
                max-width: 57%;
                margin-bottom: 24px;

                .about-title {
                    color: $gray;
                    margin-bottom: 8px;
                }

                .about-content {
                    line-height: 32px;
                    color: $lightBlack;
                    text-align: justify;
                    font-size: 0.9rem;

                    .btn-read-more {
                        color: $green;
                        font-family: 'iranyekan-bold';
                        cursor: pointer;
                    }
                }
            }

            .signs {
                direction: ltr;
                margin-top: 24px;

                .sign-item {
                    cursor: pointer;
                    width: 90px;
                    margin-right: 18px;
                }
            }
        }

        .footer-copyright {
            display: flex;
            justify-content: space-between;
            direction: ltr;
            
            .copyright-content-en {
                font-size: 0.8rem;
                font-family: 'iranyekan-extra-bold';
            }
            .copyright-content-fa {
                font-size: 0.75rem;
            }
        }
    }
}