<footer>
    <div class="footer-container">
        <div class="refrence-list">
            <div class="list-container">
                <h4 class="list-title">خرید</h4>
                <ul class="links-list">
                    <li class="list-item" *ngFor='let item of purchase'>
                        <a href="">{{ item }}</a>
                    </li>
                </ul>
            </div>

            <div class="list-container">
                <h4 class="list-title">خدمات مشتریان</h4>
                <ul class="links-list">
                    <li class="list-item" *ngFor='let item of services'>
                        <a href="">{{ item }}</a>
                    </li>
                </ul>
            </div>

            <div class="list-container">
                <h4 class="list-title">اطلاعات بانی مد</h4>
                <ul class="links-list">
                    <li class="list-item" *ngFor='let item of info'>
                        <a href="">{{ item }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="contact-info-container">
            <div class="contact-info-title">
                <h4>میزبان صدای گرمتان هستیم</h4>
                <p>۷ روز هفته - ۲۴ ساعته</p>
            </div>

            <div class="contact-ways-container">
                <p>تلفن: <a href="tel:+982191007797">91007797-021</a></p>
                <p>پیامک: <a href="sms:+9810001654">10001654</a></p>
                <p>ایمیل: <a href="mailto:customer@banimode.com">customer@banimode.com</a></p>
            </div>
        </div>

        <div class="icons-container">
            <img class="footer-brand" src="./../../../../assets/icons/banilogo.png" alt="banimode">
            <button class="btn-download">دانلود اپلیکیشن <i class="fas fa-download"></i></button>
            <div class="social-icons">
                <div class="social-icon">
                    <img src="./../../../../assets/icons/social-icons/footer-twitter.svg" alt="twitter">
                </div>

                <div class="social-icon">
                    <img src="./../../../../assets/icons/social-icons/footer-aparat.svg" alt="aparat">
                </div>

                <div class="social-icon">
                    <img src="./../../../../assets/icons/social-icons/footer-telegram.svg" alt="telegram">
                </div>

                <div class="social-icon">
                    <img src="./../../../../assets/icons/social-icons/footer-insta.svg" alt="instagram">
                </div>
            </div>
        </div>
    </div>
</footer>