<footer>
    <div class="footer-container">
        <div class="footer-row-1">
            <div class="refrence-list">
                <div class="list-container">
                    <h4 class="list-title">خرید</h4>
                    <ul class="links-list">
                        <li class="list-item" *ngFor='let item of purchase'>
                            <a href="">{{ item }}</a>
                        </li>
                    </ul>
                </div>
    
                <div class="list-container">
                    <h4 class="list-title">خدمات مشتریان</h4>
                    <ul class="links-list">
                        <li class="list-item" *ngFor='let item of services'>
                            <a href="">{{ item }}</a>
                        </li>
                    </ul>
                </div>
    
                <div class="list-container">
                    <h4 class="list-title">اطلاعات بانی مد</h4>
                    <ul class="links-list">
                        <li class="list-item" *ngFor='let item of info'>
                            <a href="">{{ item }}</a>
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="contact-info-container">
                <div class="contact-info-title">
                    <h4>میزبان صدای گرمتان هستیم</h4>
                    <p>۷ روز هفته - ۲۴ ساعته</p>
                </div>
    
                <div class="contact-ways-container">
                    <p>تلفن: <a href="tel:+982191007797">91007797-021</a></p>
                    <p>پیامک: <a href="sms:+9810001654">10001654</a></p>
                    <p>ایمیل: <a href="mailto:customer@banimode.com">customer@banimode.com</a></p>
                </div>
            </div>
    
            <div class="icons-container">
                <a [routerLink]='["/"]'>
                    <img class="footer-brand" src="./../../../../assets/icons/banilogo.png" alt="banimode">
                </a>
                <button class="btn-download">دانلود اپلیکیشن <i class="fas fa-download"></i></button>
                <div class="social-icons">
                    <a href="https://www.twitter.com/Banimodeir">
                        <div class="social-icon">
                            <img src="./../../../../assets/icons/social-icons/footer-twitter.svg" alt="twitter">
                        </div>
                    </a>
    
                    <a href="https://www.aparat.com/banimode">
                        <div class="social-icon">
                            <img src="./../../../../assets/icons/social-icons/footer-aparat.svg" alt="aparat">
                        </div>
                    </a>
    
                    <a href="https://www.t.me/banimodecom">
                        <div class="social-icon">
                            <img src="./../../../../assets/icons/social-icons/footer-telegram.svg" alt="telegram">
                        </div>
                    </a>
    
                    <a href="https://www.instagram.com/banimodecom">
                        <div class="social-icon">
                            <img src="./../../../../assets/icons/social-icons/footer-insta.svg" alt="instagram">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-row-2">
            <div class="about-banimode">
                <h4 class="about-title">فروشگاه اینترنتی پوشاک بانی مد</h4>
                <p *ngIf='!showMore' class="about-content">
                        مرکز خرید آنلاین بانی‌مد فعالیت خود را در زمینۀ پوشاک به‌صورت تخصصی از سال 1393 آغاز نمود و طی این سال‌ها توانسته ضمن همکاری با بیش از 400 برند ایرانی و بین‌المللی، در مسیر بهبود تجربۀ خرید آنلاین پوشاک در ایران گام بردارد. مهم‌ترین رسالت بانی‌مد بهبود کیفیت سبک زندگی است که رضایت اکثریت مشتریان گرامی از این فروشگاه اینترنتی گواهی بر این ادعاست؛ رضایتی که پشتوانه‌ای استوار برای تحقق
                    <span class="btn-read-more" (click)='onReadMoreClick()'>{{moreLessBtn}}</span>
                </p>

                <div class="about-content" *ngIf='showMore'>
                    <p>مرکز خرید آنلاین بانی‌مد فعالیت خود را در زمینۀ پوشاک به‌صورت تخصصی از سال 1393 آغاز نمود و طی این سال‌ها توانسته ضمن همکاری با بیش از 400 برند ایرانی و بین‌المللی، در مسیر بهبود تجربۀ خرید آنلاین پوشاک در ایران گام بردارد. مهم‌ترین رسالت بانی‌مد بهبود کیفیت سبک زندگی است که رضایت اکثریت مشتریان گرامی از این فروشگاه اینترنتی گواهی بر این ادعاست؛ رضایتی که پشتوانه‌ای استوار برای تحقق دیگر اهداف بلندمدت بانی‌مد است.</p>

                    <p>حضور موفق بانی‌مد طی سال‌های اخیر در صنعت پوشاک، بر اساس بازاریابی مبتنی بر سلایق و فرهنگ پوشاک ایرانیان شکل‌ گرفته است. این موفقیت سبب شده تا برترین برندهای بازار ایران و جهان که ازنظر کیفیت و خدمات با استانداردهای بانی مد انطباق دارند، خواستار همکاری با بانی‌مد باشند و پس از شروع همکاری، همواره برترین کالاهای خود را با بهترین قیمت در این فروشگاه عرضه کنند.</p>

                    <p>برندهایی مانند جین وست، جوتی جینز، ال سی وایکیکی، کوتون، ال سی من، چرم مشهد، درسا، دلسی، مارال چرم، ان بی بی، ال آر سی، هالیدی، کاسیو، زیبو، آلشپرت، اسپریت، پنتی، سوپردرای، لایکو، ریباک، عصرجدید، چرم کروکو، دنیلی، مل اند موژ، کروم، رکسونا، مون بلان، ناریان، دیور، شانل، ورساچه، بولگاری، کلوین کلاین، سرژه، بربری، ایوروشه، دیویدوف، ساکونی، لالیک، لانکوم، آر ان اس، جامه پوش آرا، پیانو، شیفر، رامکات، هوگرو، جاست کاوالی، اونلی، آروما، چرچیلز، آوا، ورو مدا، مای، برندس، بالنو و...</p>

                    <p>محصولات ارائه‌شده توسط بانی مد در بخش پوشاک زنانه شامل تاپ و تیشرت، شومیز و بلوز، دامن، لباس مجلسی، کت و کاپشن، پلیور و ژاکت، سویشرت، شلوار کتان، شلوارک، تونیک، مانتو، شلوار جین، کیف و کفش و در پوشاک مردانه شامل پیراهن، پلیور، تیشرت، سویشرت، کت و کاپشن، شلوار جین، شلوار کتان، شلوارک، لباس زیر، کیف و کفش و لباس دخترانه شامل تیشرت، کاپشن، شلوار، پلیور، کفش، پیراهن، لباس شنا، اکسسوری و در گروه لباس پسرانه شامل پیراهن، تیشرت، کاپشن، شلوار، لباس شنا، پلیور و در گروه اکسسوری کلاه، دستکش، شال گردن، صندل، جوراب، چتر، ساعت، شال و روسری، زیورآلات و در گروه زیبایی و سلامت شامل عطر و ادکلن و لوازم آرایشی است. همچنین امکان خرید نوشت‌افزار، لباس اورسایز، لوازم خانه و آشپزخانه، کالای خواب، اسباب‌بازی و مواد غذایی نفیس در بانی‌مد وجود دارد. 
                    <span class="btn-read-more" (click)='onReadMoreClick()'>{{moreLessBtn}}</span>
                    </p>
                </div>
            </div>

            <div class="signs">
                <img src="./../../../../assets/icons/samandehi.png@2x.png" alt="" class="sign-item">
                <img src="./../../../../assets/icons/logo-itehad@2x.png" alt="" class="sign-item">
                <img src="./../../../../assets/icons/eanjoman-foot.png" alt="" class="sign-item">
                <img src="./../../../../assets/icons/logo.aspx.png" alt="" class="sign-item">
            </div>
        </div>

        <div class="footer-copyright">
            <p class="copyright-content-en">&#169; Copyright 2021 Banimode.com</p>
            <p class="copyright-content-fa">.کلیه حقوق این وب سایت متعلق به بانی مد است &#169;</p>
        </div>
    </div>
</footer>