@import 'variables';
@import 'mixins';

.main-container {
    .name-row {
        position: relative;

        .name-container {
            .product-brand {
                margin-bottom: 16px;
                font-size: 1.8rem;
            }
            .product-name {
                font: {
                    family: 'iranyekan-bold';
                    size: 18px;
                }
                color: $lighterBlack;
            }
        }

        .intraction-btns {
            .btn-share {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0px;
                width: 64px;
                height: 64px;
                border-radius: 12px;
                font-size: 2.2rem;
                background: none;
                border: 1px solid $darkWhite;
            }
            i {
                transition: all 0.3s cubic-bezier(0.24, 1.28, 0.66, 1.2);
            }
            .btn-share:hover .share-icon {
                transform: rotate(20deg);
            }

            .btn-like {
                @extend .btn-share;
                left: 70px;
            }
            .btn-like:hover .like-icon {
                font-size: 2rem;
            }
        }
    }

    .discount-row {
        display: flex;
        margin: {
            top: 28px;
            bottom: 28px;
        }
        
        .initial-price {
            position: relative;
            margin-left: 28px;
            font-size: 14px;
            color: $gray;
            width: fit-content;
        }
        .initial-price::after {
                content: '';
                position: absolute;
                top: 9px;
                right: 0;
                width: 100%;
                height: 1px;
                background: $gray;
        }

        .discount-amount-container {
            .discount-amount {
                @include orange-small-box;
                padding: 0px 18px;
                border-radius: 12px;
            }
            .discount-title {
                color: $orange;
                margin-left: 8px;
            }
        }
    }

    .price-row {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;
        
        .final-price {
            color: $green;
            font-size: 1.8rem;
        }
        .wallet-gift-container {
            @include orange-small-box;
            position: relative;
            width: 160px;
            border-radius: 18px;
            padding: 6px 18px;
            margin: {
                right: 36px;
                top: 2px;
            }
            
            i {
                font-size: 1.2rem;
                position: absolute;
            }
            .wallet-gift-text {
                font-size: 14px;
                margin-right: 2px;
            }
            .wallet-gift-percent {
                font-weight: bold;
                font-size: 18px;
                margin-right: 24px;
            }
            .wallet-gift-question {
                transform: scaleX(-1);
                margin-right: 4px;
                top: 8px;
            }
        }
    }

    .colors-row {
        position: relative;

        ::ng-deep .slick-dots li button::before {
            font-size: 0.6rem;
            top: -170px;
            left: -230px;
        }
        ::ng-deep .slick-dots li {
            margin: 0px -2px;
        }
        ::ng-deep .slick-dots li.slick-active button::before {
            color: $green;
        }
        
        .color-title-container {
            font-size: 1.1rem;    
            color: $lighterBlack;
            margin-bottom: 24px;
            padding-top: 48px;
            
            .color-title {
                margin-left: 16px;
                color: $lightBlack;
                font-weight: bold;
            }
        }
        .color-title-container::before {
            position: absolute;
            content: '';
            width: 40%;
            top: 0%;
            right: 0;
            height: 1px;
            background-color: $darkWhite;
        }
        .color-image-container {
            margin-right: -4px;

            .color-item {
                position: relative;
                margin: 0px 4px;

                .color-item-overlay {
                    opacity: 0;
                    transition: all 0.3s;
                    cursor: pointer;
                    border-radius: 8px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $gray;
                }
                .color-item-overlay:hover {
                    opacity: 0.15;
                }
                .color-img {
                    width: 100%;
                }
                .product-img {
                    cursor: pointer;
                    width: 99%;
                    height: 130px;
                    background: {
                        blend-mode: multiply;
                        repeat: no-repeat;
                        color: $milky;
                        position: top;
                    }
                    border-radius: 8px;

                    .color-name {
                        position: absolute;
                        bottom: 8px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        font-size: 0.8rem;
                        color: $lighterBlack;
                    }
                }
                .selected-color {
                    border: 1px solid $green;
                }
            }
        }
    }

    .size-row {
        display: flex;

        .size-list {
            width: 45%;
            ::ng-deep .mat-form-field {
                text-align: right;

                .mat-form-field-underline {
                    display: none;
                }
            }

        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
            border-radius: 8px;
            border: 1px solid $gray;
            background: none;
            font-family: 'iranyekan';
            padding: 8px;
            transition: border-color 0.3s;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex:hover {
            border-color: $green;

            .mat-select-arrow {
                color: $green;
            }
            .ng-star-inserted {
                color: $green;
            }
        }
        ::ng-deep .mat-select-arrow {
            border: {
                left-width: 8px;
                right-width: 8px;
                top-width: 8px;
            }
            transition: color 0.3s;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
            padding: 0;
            top: -3px;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
            transform: translateY(-15%);
            .mat-select-arrow {
                color: $lightBlack;
            }
        }
        ::ng-deep .ng-star-inserted {
            color: $lightBlack;
            font-family: 'iranyekan-bold';
            transition: 0.3s color;
            width: 95%;
        }
    }
        .size-info {
            width: 28%;
            .btn-size-info {
                background: none;
                border: 1px solid $lightGray;
                width: 100%;
                border-radius: 8px;
                transition: 0.3s border-color;
                padding: 13.5px 0px;
                color: $green;
                font-size: 1rem;
            }
            .btn-size-info:hover {
                border-color: $green;
            }
        }

    }
    .btn-addtocart {
        background-color: $green;
        color: white;
        width: 73%;
        padding: 14px 0px;
        font-size: 1rem;
        border: none;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        i {
            font-size: 1.3rem;
            margin-left: 16px;
        }
    }
    
    .services-row {
        display: flex;
        justify-content: space-between;

        .service-link {
            width: 24%;

            .service-img {
                width: 60px;
                height: 60px;
                object-fit: contain;
            }
            p {
                margin: 64px 60px -48px 0px;
                font-size: 13px;
            }
        }
    }
}