<main class="main-container">
    <div class="name-row">
        <div class="name-container">
            <h2 class="product-brand">{{productItem?.product_manufacturer_en_name}}</h2>
            <h3 class="product-name">{{productItem?.product_name}}</h3>
        </div>
        <div class="intraction-btns">
            <button class="btn-share"><i class="fas fa-share-alt share-icon"></i></button>
            <button class="btn-like"><i class="far fa-heart like-icon"></i></button>
        </div>
    </div>

    <div *ngIf='productItem?.product_specific_price' class="discount-row">
        <div class="initial-price">{{productItem?.product_price | number: '3.'}} تومان</div>
        <div *ngIf='productItem?.product_specific_price' class="discount-amount-container">
            <span class="discount-title">تخفیف شما:</span>
            <span class="discount-amount">{{productItem?.product_specific_price?.discount_amount | number: '3.'}} تومان</span>
        </div>
    </div>

    <div class="price-row">
        <h2 class="final-price">{{productItem?.product_specific_price?.specific_price | number: '3.'}} تومان</h2>
        <div class="wallet-gift-container">
            <i class="fas fa-gift"></i>
            <span class="wallet-gift-percent">5%</span>
            <span class="wallet-gift-text">شارژ کیف پول</span>
            <i class="far fa-question-circle wallet-gift-question"></i>
            <span class="wallet-gift-info">در صورت خرید این محصول کیف پول شما به مقدار 10٪ مبلغ محصول شارژ خواهد شد.
            </span>
        </div>
    </div>

    <div class="colors-row">
        <div class="color-title-container">
            <span class="color-title">رنگ:</span>
            <span class="color">( {{productItem?.color_name}} )</span>
        </div>
        <div class="color-image-container">
            <ngx-slick-carousel class="carousel" #slickModal='slick-carousel' [config]='colorSlideConfig'>
                <div class="slide" ngxSlickItem *ngFor='let color of productItem?.all_colors'>
                    <div class="color-item">
                        <div class="color-item-overlay" (click)='onColorClick(color)'></div>
                        <div class="product-img" [style.background-image]="'url('+color.image[0].image_size.small_default+')'" [ngClass]="{'selected-color' : selectedColor == color.name || (color.name == productItem?.color_name && !selectedColor)}">
                            <div class="color-name">{{color.name}}</div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>

    <div class="size-row">
        <div class="size-list">
            <mat-form-field appearance="fill">
                <mat-label>انتخاب سایز</mat-label>
                <mat-select [(ngModel)]="selectedSize" name="size">
                    <mat-option *ngFor="let size of productItem?.size" [value]="size.name">
                        {{size.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="size-info">
            <button class="btn-size-info" (click)='openDialog()'><i class="fas fa-ruler"></i> سایز من چنده؟</button>
        </div>
    </div>
    <button class="btn-addtocart">
        <i class="fas fa-bag-shopping"></i>
        <p>افزودن به سبد خرید</p>
    </button>

    <div class="services-row">
        <a href="" class="service-link">
            <p>ضمانت بازگشت کالا</p>
            <img src="assets/icons/feature-icons/warranty.png" alt="" class="service-img">
        </a>
        <a href="" class="service-link">
            <p>ضمانت اصالت کالا</p>
            <img src="assets/icons/feature-icons/original.png" alt="" class="service-img">
        </a>
        <a href="" class="service-link">
            <p>خدمات پس از فروش</p>
            <img src="assets/icons/feature-icons/services.png" alt="" class="service-img">
        </a>
        <a href="" class="service-link">
            <p>تحویل سریع و آسان</p>
            <img src="assets/icons/feature-icons/fast.png" alt="" class="service-img">
        </a>
    </div>
</main>