@import 'variables';

.navlinks-container {
    width: 100%;
    align-items: center;
    background: white;
    
    .navlinks-list {
        display: flex;
        max-width: 1200px;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        height: 50px;
        list-style: none;
        font-size: 0.95rem;

        .navlinks-link {
            position: relative;

            a {
                padding: 12px 16px;
                transition: all 0.2s;
            }
            a:hover {
                color: $green;
            }
        }
        .navlinks-link::after {
            content: '.';
            font-size: 2rem;
            top: -14px;
            position: absolute;
        }
    }
}