@import 'variables';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.suggestions-container {
  margin: 24px auto;
  max-width: 1230px;
  text-align: center;

  .suggestions-title{
    color: $lightBlack;
    margin-top: 48px;
    font-size: 1.6rem;
  }

  .suggestions-slider {
    margin: auto;
    width: 100%;

    .product-card {
      .product-img-container {
        padding: 24px 16px;
        margin-top: 12px;
        position: relative;

        .discount-badge {
          position: absolute;
          font-family: 'iranyekan-bold';
          top: 38px;
          left: 16px;
          background-color: $orange;
          color: $lightWhite;
          padding: 4px 10px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
        }

        .promotion-label{
          position: absolute;
          bottom: 36px;
          left: 50%;
          transform: translate(-50%, -50%); 
          background-color: $green;
          color: $milky;
          width: max-content;
          font-size: 0.75rem;
          padding: 8px 4px;
          border-radius: 6px;
        }

        .product-img {
          cursor: pointer;
          width: 100%;
          height: 325px;

          background: {
            blend-mode: multiply;
            repeat: no-repeat;
            color: $milky;
            size: cover;
            position: center;
          }

          border-radius: 8px;
        }

        .product-hover-img {
          @extend .product-img;
          display: none;
        }


      }

      .product-content {
        margin: {
          right: 18px;
          bottom: 24px;
        }

        width: 88%;

        .product-row1 {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          margin-bottom: 18px;

          .product-main-price {
            position: relative;
            font-size: 0.78rem;
            margin-top: 4px;
            color: $gray;
          }

          .product-main-price::after {
            content: '';
            height: 1px;
            top: 7px;
            left: 0;
            width: 100%;
            background-color: $gray;
            position: absolute;
          }
        }

        .product-row2 {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;

          .product-name {
            overflow: hidden;
            color: $gray;
            font-size: 0.8rem;
            width: 60%;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .product-price {
            color: $green;
            font-size: 0.8rem;
            font-family: 'iranyekan-extra-bold';
          }
        }

        .product-row3 {
          cursor: pointer;
          display: flex;

          div {
            display: flex;
            justify-content: space-between;

            .size-item {
              font-size: 0.75rem;
              color: $darkGray;
              margin-left: 6px;
              border: 1px solid $lighterGray;
              min-width: 18px;
              text-align: center;
              padding: 4px 6px;
              border-radius: 4px;
            }

            .remained-size-item {
              @extend .size-item;
              color: $orange;
              direction: ltr;
            }
          }
        }
      }
    }
  }

  .btn-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;

    .btn-show-all {
      background: none;
      border: 2px solid $lightGray;
      color: $tomatoRed;
      border-radius: 36px;
      width: 24%;
      margin: 24px auto;
      padding: 12px 64px;
      cursor: pointer;
      font-size: 1.1rem;
      font-family: 'iranyekan-bold';
      transition: border-color 0.2s;
    }

    .btn-show-all:hover {
      border-color: $tomatoRed;
    }
  }
}

@media screen and (max-width: 480px) {
  .suggestions-container {
    text-align: center;
    max-width: 480px;
    margin-top: 48px;

    .suggestions-slider {
      .product-card {
        margin-bottom: 24px;
        .product-img-container {
          .product-img {
            width: 85%;
            margin: auto;
          }
          .discount-badge {
          left: 44px;
          font-size: 18px;
        }
      }
        .product-content {
          width: 75%;
          margin: auto;
        }
      }
    }
  }
}
