@import 'variables';
@import 'mixins';

#main-container {
    max-width: 800px;
    .comment-container {
        .comment-item {
            margin: 36px 12px;
            .user-icon {
                position: absolute;
                i {
                    font-size: 1.5rem;
                    padding: 10px;
                    background-color: $gray;
                    color: $milky;
                    border-radius: 50%;
                }
            }

            .comment-content {
                margin-right: 85px;
                border-bottom: 1px solid $darkWhite;
                .title-row {
                    display: flex;
                    width: fit-content;
                    place-items: flex-end;
                    margin-bottom: 24px;

                    .comment-title {
                        font-size: 1rem;
                        color: $lightBlack;
                        margin-left: 36px;
                    }
                    .username {
                        color: $gray;
                        margin-left: 36px;
                        font: {
                            family: 'iranyekan-bold';
                            weight: 100;
                            size: 14px;
                        }
                    }
                    .comment-date {
                        font-size: 14px;
                    }
                }
                .comment-text {
                    font-size: 14px;
                    color: $darkGray;
                    margin-bottom: 24px;
                    .comment-answer {
                        color: $green;
                        margin: {
                            right: 36px;
                            top: 18px;
                        }
                    }
                }
                .user-reaction-container {
                    margin-bottom: 36px;
                    p {
                        font: {
                            size: 14px;
                            family: 'iranyekan-bold';
                        }
                    }
                    .like-icon {
                        @include like-icon;
                    }
                    .dislike-icon {
                        @extend .like-icon;
                        background-color: $orange;
                    }
                }
            }
        }
    }

    .comment-form-container {
        margin-right: 100px;
        .comment-form-title {
            .subtitle {
                font-size: 14px;
                color: $gray;
                margin-top: 14px;
            }
        }

        form {
            .titleInput {
                border: none;
                width: 90%;
                border-radius: 12px;
                padding: 14px;
                font-size: 15px;
                margin: 36px 0px 24px 0px;
                display: block;
            }
            .titleInput:focus, .bodyInput:focus {
                outline: none;
            }
            .bodyInput {
                @extend .titleInput;
                margin-top: 0px;
                height: 95px;
                max-width: 90%;
            }

            .suggestion-container {
                display: flex;
                justify-content: space-between;
                width: 95%;
                .btn-suggest {
                    background: none;
                    border: none;
                    color: $darkGray;
                    i {
                        @include like-icon;
                        font-size: 14px;
                        padding: 6px;
                        background-color: $gray;
                        transition: 0.2s background;
                    }
                }
                .btn-notsuggest {
                    @extend .btn-suggest;
                    margin-right: 24px;
                    i {
                        @include like-icon;
                        padding: 6px;
                        background-color: $gray;
                        font-size: 14px;
                        transition: 0.2s background;
                    }
                }
                .btn-submit {
                    @include green-btn;
                    border-radius: 12px;
                    padding: 16px 40px;
                    font-size: 14px;
                }
                .btn-submit:hover {
                    background-color: $darkGreen;
                }
            }
        }

    }
}