<main>
    <div class="header-container">
        <div class="top-navbar">
            <i class="fas fa-shopping-cart cart-icon"></i>
            <button mat-raised-btn (click)='openDialog()' class="btn-login">ورود / ثبت نام</button>
            <div class="searchbar-container">
                <i class="fas fa-search"></i>
                <input type="text" name="searchbar" id="" class="searchbar" placeholder="جستجو در میان بیش از ۴۰۰ برند معتبر">
            </div>
            <img src="./../../../../assets/icons/banilogo.png" alt="banimode" class="header-brand">
        </div>

        <app-navlinks></app-navlinks>
    </div>
</main>