@import 'variables';
@import 'mixins';

@keyframes move-box {
    from {top: 20px;}
    to {top: 50px;}
}
@keyframes move-cart-box {
    from {top: 60px;}
    to {top: 100px;}
}
@keyframes show-burger-navbar {
    from {top: -100px;}
    to {top: 0px;}
}
@keyframes hide-burger-navbar {
    from {top: 0px;}
    to {top: -100px;}
}

main {
    width: 100%;
}

.box-closer {
    width: 100vw;
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: none;
    position: fixed;
    border: none;
    z-index: 5;
    cursor: initial;
}
.show-box-closer {
    display: flex;
}

.header-container {
    font-family: 'iranyekan';
    max-width: 1200px;
    margin: auto;

    .top-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 24px 0px;
        position: relative;
        padding-top: 32px;

        .cart-container {
            .cart-icon {
                font-size: 1.7rem;
                position: absolute;
                top: 46px;
                transition: all 0.2s;
                cursor: pointer;
                margin-right: 14px;
            }
            .cart-icon:hover {
                color: $green
            }

            .cart-box {
                @include white-hover-box;
                display: none;
                max-height: 80vh;
                width: 40%;
                box-shadow: 8px 0px 10px $lighterGray;
                text-align: center;
                padding: 64px 0px;

                img {
                    width: 27%;
                    margin-top: 24px;
                }
                .empty-cart-title {
                    font: 1.15rem;
                    margin-top: 28px;
                }
                .empty-cart-subtitle {
                    margin: 28px auto 0px auto;
                    width: 55%;
                    font-size: 0.9rem;
                }
            }
            .show-cart {
                display: flex;
                flex-direction: column;
                top: 100px;
                right: -8px;
                animation: move-cart-box 0.3s linear 0s 1 normal;

                ::after {
                    content: '';
                    position: absolute;
                    top: -14px;
                    right: 18px;
                    width: 0; 
                    height: 0; 
                    border-left: 16px solid transparent;
                    border-right: 16px solid transparent;
                    border-bottom: 16px solid white;
                    filter: drop-shadow(1px -4px 2px $darkWhite);
                }
            }
        }

        .loggedin-items {
            display: flex;
            justify-content: space-between;
            margin: {
                top: 10px;
                left: -70px;
            }
            width: 230px;

            i {
                font-size: 1.7rem;
                transition: color 0.3s;
                cursor: pointer;
            }
            i:hover {
                color: $green;
            }

            .wallet-container {
                position: relative;
                
                .wallet-hover-box {
                    @include white-hover-box;

                    display: none;
                    position: absolute;
                    top: 50px;
                    right: -18px;
                    width: 200px;
                    padding: 36px;
                    text-align: center;
                    animation: move-box 0.3s linear 0s 1 normal;
                }
                .wallet-hover-box::after {
                    content: '';
                    position: absolute;
                    top: -14px;
                    right: 16px;
                    width: 0; 
                    height: 0; 
                    border-left: 16px solid transparent;
                    border-right: 16px solid transparent;
                    border-bottom: 16px solid white;
                    filter: drop-shadow(0px -3px 2px $lighterGray);
                }
            }
            .wallet-container:hover .wallet-hover-box {
                display: block;
            }
            
            .userbox-container {
                display: flex;
                position: relative;
                
                .userbox {
                    cursor: pointer;
                    transition: color 0.3s;
                    // color: black;
                    display: flex;

                    p{
                        margin-top: 2px;
                        padding-right: 8px;
                    }
    
                    .user-arrow {
                        font-size: 0.8rem;
                        margin: {
                            top: 8px;
                            right: 8px;
                        }
                        transition: transform 0.3s;
                    }
                }
                .userbox:hover {
                    color: $green
                }
                
                .user-click-box {
                    @include white-hover-box;

                    display: none;
                    position: absolute;
                    top: 50px;
                    right: -40px;
                    width: 200px;
                    text-align: center;
                }
                .show-click-box {
                    display: flex;
                    flex-direction: column;
                    animation: move-box 0.5s linear 0s 1 normal;

                    p {
                        display: flex;
                        justify-content: space-between;
                        margin: 8px 0px;
                        padding: 12px 24px;
                        cursor: pointer;
                        transition: background 0.2s;
                        
                        i {
                            font-size: 1.3rem;
                            color: $green;
                        }
                        
                        .logout-icon {
                            color: $orange;
                        }
                    }
                    p:hover {
                        background-color: $milky;
                    }
                }
                .show-click-box::after {
                    content: '';
                    position: absolute;
                    top: -14px;
                    right: 38px;
                    width: 0; 
                    height: 0; 
                    border-left: 16px solid transparent;
                    border-right: 16px solid transparent;
                    border-bottom: 16px solid white;
                    filter: drop-shadow(0px -3px 2px $lighterGray);
                }
            }
        }

        .btn-login {
            @include green-btn;
        }
        .btn-login:hover {
            background-color: $darkGreen;
        }

        .searchbar-container {
            background-color: $milky;
            border-radius: 24px;
            width: 50%;
            position: relative;
            display: flex;
            margin-right: 48px;

            i {
                position: absolute;
                top: 12px;
                right: 16px;
                font-size: 24px;
            }

            .searchbar {
                background: none;
                border: none;
                width: 100%;
                margin-right: 48px;
                font-size: 0.95rem;
                padding: 14px 0px;
                outline: none;
            }
        }

        .header-brand {
            width: 20%;
            cursor: pointer;
            
            img{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    main {
        .header-container {
            max-width: 480px;
            .top-navbar {
                padding-top: 24px;
                
                .cart-container {
                    display: none;
                }
                
                .burgernav-container {
                    .btn-burgernav {
                        background: $green;
                        border: none;
                        color: white;
                        padding: 6px 6px 0px 6px;
                        margin-right: 18px;
                        font-size: 1.2rem;
                        border-radius: 12px;
                    }

                    .navbar-burger-overlay {
                        height: 100vh;
                        background-color: #00bf6fc4;
                        z-index: 50;
                        position: absolute;
                        top: 0;
                        right: -400px;
                        padding: 10px 0px;
                        width: 60%;
                        transition: 0.3s right;

                        .searchbar-row {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            padding-left: 4px;
                            .btn-close-navbar {
                                width: 36px;
                                height: 34px;
                                border-radius: 50%;
                                border-bottom-right-radius: 0;
                                border-top-right-radius: 0;
                                border: none;
                                font-size: 26px;
                                color: $tomatoRed;
                                background-color: white;
                                margin: {
                                    right: -6px;
                                }
                            }
                            .burger-searchbar {
                                background-color: white;
                                border-radius: 24px;
                                width: 83%;
                                position: relative;
                                display: flex;
                            i {
                                position: absolute;
                                top: 8px;
                                right: 10px;
                                font-size: 18px;
                            }
                            
                            .searchbar {
                                background: none;
                                border: none;
                                width: 100%;
                                margin-right: 34px;
                                font-size: 0.65rem;
                                padding: 10px 0px;
                                outline: none;
                            }
                        }
                    }
                        .burger-cart-container {
                            background: white;
                            color: $tomatoRed;
                            position: relative;
                            font: {
                                size: 18px;
                                family: 'iranyekan-bold'
                            }
                            padding: 4px 48px;
                            margin: 18px 4px;
                            border-radius: 24px;
                            transition: 0.3s all;

                            i {
                                font-size: 22px;
                                right: 16px;
                                position: absolute;
                                top: 5px;
                            }
                        }
                        .burger-cart-container:hover {
                            background-color: $tomatoRed;
                            color: white;
                        }
                        .burger-wallet-container {
                            @extend .burger-cart-container;
                        }
                        .burger-favorites-container {
                            @extend .burger-cart-container;
                        }
                    }
                }
                
                .loggedin-items {
                    display: block;
                    width: initial;
                    margin-left: 0;
                    .favorites, .wallet-container {
                        display: none;
                    }
                    .userbox-container {
                        display: block;
                        margin-bottom: 8px;
                        margin-right: -64px;
                        .userbox {
                            color: $tomatoRed;
                            i {
                                font-size: 1.9rem;
                            }
                            i:hover {
                                color: $tomatoRed;
                            }
                            p {
                                display: none;
                            }
                            .user-arrow {
                                margin: {
                                    top: 5px;
                                    right: 8px;
                                }
                                font-size: 1.2rem;
                            }
                        }
                        .userbox:hover {
                            color: $tomatoRed;
                        }
                    }
                }
                
                .searchbar-container {
                    display: none;
                }
                .header-brand {
                    width: 40%;
                    margin-left: 24px;
                    margin-top: 6px;
                }
                .btn-login {
                    margin-right: -24px;
                    font-size: 12px;
                    padding: 10px 18px;
                }
            }
            .navlinks-container {
                display: none;
            }
        }
    }
}