@import 'variables';
@import 'mixins';

@keyframes move-box {
    from {top: 20px;}
    to {top: 50px;}
}

main {
    width: 100%;
}

.header-container {
    font-family: 'iranyekan';
    max-width: 1200px;
    margin: auto;

    .top-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 24px 0px;
        position: relative;
        padding-top: 32px;

        .cart-icon {
            font-size: 1.7rem;
            position: absolute;
            top: 46px;
            transition: all 0.2s;
            cursor: pointer;
            margin-right: 14px;
        }
        .cart-icon:hover {
            color: $green
        }

        .loggedin-items {
            display: flex;
            justify-content: space-between;
            margin: {
                top: 10px;
                left: -70px;
            }
            width: 230px;

            i {
                font-size: 1.7rem;
                transition: color 0.3s;
                cursor: pointer;
            }
            i:hover {
                color: $green;
            }

            .wallet-container {
                position: relative;
                
                .wallet-hover-box {
                    @include white-hover-box;

                    display: none;
                    position: absolute;
                    top: 50px;
                    right: -18px;
                    width: 200px;
                    padding: 36px;
                    text-align: center;
                    animation: move-box 0.3s linear 0s 1 normal;
                }
                .wallet-hover-box::after {
                    content: '';
                    position: absolute;
                    top: -14px;
                    right: 16px;
                    width: 0; 
                    height: 0; 
                    border-left: 16px solid transparent;
                    border-right: 16px solid transparent;
                    border-bottom: 16px solid white;
                    filter: drop-shadow(0px -3px 2px $lighterGray);
                }
            }
            .wallet-container:hover .wallet-hover-box {
                display: block;
            }
            
            .userbox-container {
                display: flex;
                position: relative;
                
                .userbox {
                    cursor: pointer;
                    transition: color 0.3s;
                    color: black;
                    display: flex;

                    p{
                        margin-top: 2px;
                        padding-right: 8px;
                    }
    
                    .user-arrow {
                        font-size: 0.8rem;
                        margin: {
                            top: 8px;
                            right: 8px;
                        }
                        transition: transform 0.3s;
                    }
                }
                .userbox:hover {
                    color: $green
                }
                
                .user-click-box {
                    @include white-hover-box;

                    display: none;
                    position: absolute;
                    top: 50px;
                    right: -40px;
                    width: 200px;
                    text-align: center;
                }
                .show-click-box {
                    display: flex;
                    flex-direction: column;
                    animation: move-box 0.5s linear 0s 1 normal;

                    p {
                        display: flex;
                        justify-content: space-between;
                        margin: 8px 0px;
                        padding: 12px 24px;
                        cursor: pointer;
                        transition: background 0.2s;
                        
                        i {
                            font-size: 1.3rem;
                            color: $green;
                        }
                        
                        .logout-icon {
                            color: $orange;
                        }
                    }
                    p:hover {
                        background-color: $milky;
                    }
                }
                .show-click-box::after {
                    content: '';
                    position: absolute;
                    top: -14px;
                    right: 38px;
                    width: 0; 
                    height: 0; 
                    border-left: 16px solid transparent;
                    border-right: 16px solid transparent;
                    border-bottom: 16px solid white;
                    filter: drop-shadow(0px -3px 2px $lighterGray);
                }
            }
        }

        .btn-login {
            @include green-btn;
            margin-right: 40px;
        }
        .btn-login:hover {
            background-color: $darkGreen;
        }

        .searchbar-container {
            background-color: $milky;
            border-radius: 24px;
            width: 50%;
            position: relative;
            display: flex;
            margin-right: 48px;

            i {
                position: absolute;
                top: 12px;
                right: 16px;
                font-size: 24px;
            }

            .searchbar {
                background: none;
                border: none;
                width: 100%;
                margin-right: 48px;
                font-size: 0.95rem;
                padding: 14px 0px;
                outline: none;
            }
        }

        .header-brand {
            width: 20%;
        }
    }
}