<div class="home-features-container">
    <div class="home-features">
        <div class="feature-item">
            <img src="{{'./../../../../../assets/icons/feature-icons/services.png'}}" alt="services">
            <h3>خدمات پس از فروش</h3>
            <p>میزبان صدای گرمتان هستیم. هدف تیم پشتیبانی بانی مد تلاش با تمام قوا برای ارائه بهترین خدمات به مشتریان عزیز می باشد.</p>
            <div class="outer-circle">
                <div class="inner-circle"></div>
            </div>
        </div>

        <div class="feature-item">
            <img src="{{'./../../../../../assets/icons/feature-icons/warranty.png'}}" alt="warranty">
            <h3>ضمانت بازگشت کالا</h3>
            <p>تا 15 روز برای احترام به انتخاب مشتریان کالای خریداری شده برگردانده می‌شود.</p>
            <div class="outer-circle">
                <div class="inner-circle"></div>
            </div>
        </div>

        <div class="feature-item">
            <img src="{{'./../../../../../assets/icons/feature-icons/original.png'}}" alt="original">
            <h3>ضمانت اصالت</h3>
            <p>تمامی کالاها اورجینال و با ضمانت اصل بودن از نمایندگی معتبر تهیه و ارائه می‌شوند.</p>
            <div class="outer-circle">
                <div class="inner-circle"></div>
            </div>
        </div>

        <div class="feature-item">
            <img src="{{'./../../../../../assets/icons/feature-icons/fast.png'}}" alt="delivery">
            <h3>ارسال سریع و رایگان</h3>
            <p>ارسال رایگان برای خریدهای بالای 300 هزار تومان و در زمان انتخابی مشتری به سریعترین شکل ممکن می‌باشد.</p>
            <div class="outer-circle">
                <div class="inner-circle"></div>
            </div>
        </div>
    </div>
</div>