<section class="home-banimag-container">
    <div class="home-banimag">
        <h2 class="banimag-title">جدید ترینِ بانی مگ</h2>
        <div class="home-banimag-slider">
            <ngx-slick-carousel class="carousel" #slickModal='slick-carousel' [config]='homeBanimagSliderConfig'>
                <div class="article-item" ngxSlickItem *ngFor='let article of banimagArticles'>
                    <img src="{{article.image}}" alt="">
                    <h4>{{article.title}}</h4>
                </div>
            </ngx-slick-carousel>
        </div>
        <button class="btn-banimag-show-all">مشاهده همه</button>
    </div>
</section>