@font-face {
    font-family: "iranyekan";
    src: url('./assets/fonts/iranyekanwebregularfanum.ttf');
}
@font-face {
    font-family: 'iranyekan-medium';
    src: url('./assets/fonts/iranyekanwebmediumfanum.ttf');
}
@font-face {
    font-family: 'iranyekan-bold';
    src: url('./assets/fonts/iranyekanwebboldfanum.ttf');
}
@font-face {
    font-family: 'iranyekan-extra-bold';
    src: url('./assets/fonts/iranyekanwebextraboldfanum.ttf');
}

*{
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
}

body, input, textarea, button {
    font-family: 'iranyekan', sans-serif
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}