@import 'variables';

::ng-deep .ngxImageZoomContainer {
    width: 500px;

    img {
        width: 450px;
    }
}

.product-path-container {
    background-color: $darkWhite;
    width: 100%;
    padding: 18px 0px;
    margin-bottom: 18px;

    .product-path {
        color: $green;
        font-size: 0.75rem;
        margin-right: 16px;
        font-family: 'iranyekan-bold';
    }
}

.product-main-container {
    width: 1200px;
    margin: auto;
    
    .product-container {
        display: flex;
        margin-bottom: 36px;
    }
    
    .product-image-container {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        direction: ltr;

        .product-main-image {
            width: 75%;
            overflow: hidden;
            background-color: white;
            border: 1px solid $gray;
            border-radius: 10px;
            margin-left: 24px;
            position: relative;

            .image-badge-container {
                .discount-badge {
                    transition: all 0.5s;
                    position: absolute;
                    font-family: 'iranyekan-bold';
                    top: 24px;
                    background-color: $orange;
                    color: $lightWhite;
                    padding: 6px 16px;
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                    font-size: 18px;
                }
                .promotion-label{
                    transition: all 0.5s;
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    background-color: $green;
                    color: $milky;
                    width: max-content;
                    font-size: 0.8rem;
                    padding: 10px 6px;
                    border-radius: 6px;
                }
            }
        }
        .product-main-image:hover {
            .discount-badge,.promotion-label {
                opacity: 0;
            }
        }
        
        .all-images-container {
            width: 17%;
            height: 500px;
            overflow: overlay;
            margin-top: 0px;
            text-align: center;

            .all-images-border {
                position: relative;
                width: 75px;
                height: 90px;
                border: 1px solid $gray;
                overflow: hidden;
                border-radius: 10px;
                margin-bottom: 16px;
                transition: all 0.3s;
                .extra-image {
                    width: 75px;
                }
                .images-overlay {
                    opacity: 0;
                    transition: all 0.3s;
                    cursor: pointer;
                }
            }
            .all-images-border:hover {
                border-color: $green;

                .images-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0.15;
                    background-color: $gray;
                    transition: opacity 0.3s;
                }
            }
        }
    }
    .product-info-container {
        width: 50%;
    }
}

