@import 'variables';

.flash-sales-container {
  max-width: 1200px;
  margin: 24px auto;
  
  .flash-sales-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .flash-sales-brand {
        animation: blinker 2.5s normal infinite;

        @keyframes blinker {
          50% {
            opacity: 0.3;
          }
        }
      }

    .timer-container {
      display: flex;
      justify-content: space-between;
      font-family: 'iranyekan-extra-bold';
      margin-top: 12px;

      .timer-title {
        margin: {
          left: 24px;
          top: 14px;
        }
        color: $tomatoRed;
      }

      .timer {
        direction: ltr;

        div {
          color: $tomatoRed;
          text-align: center;
          font-size: 1.3rem;
          
          .timer-number {
            background-color: $tomatoRed;
            display: inline-block;
            border-radius: 8px;
            color: $milky;
            width: 48px;
            padding: 10px 0px;
          }
        }
        
      }
    }
  }
}
