<div class="flash-sales-container">
    <div class="flash-sales-header">
        <img src="./../../../../assets/icons/flashsales-icon.png" alt="شگفت انگیز های روز" class="flash-sales-brand">
        <div class="timer-container">
            <h4 class="timer-title">زمان باقی مانده تا پایان سفارش</h4>
            <div class="timer">
                <div *ngIf='hasTimeLeft; else expired'>
                    <span class="timer-number">{{hour}}</span>
                    :
                    <span class="timer-number">{{minute}}</span>
                    :
                    <span class="timer-number">{{second}}</span>
                </div>

                <ng-template #expired>
                    <h2 class="countdown-expired">EXPIRED</h2>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="flash-sales-slider">
        <ngx-slick-carousel class="carousel" #slickModal='slick-carousel' [config]='bannerSlideConfig'>
            <div ngxSlickItem *ngFor='let item of flashSales let i = index' class="slide">
                <div class="product-card">
                    <div class="product-img-container">
                        <div style="background-image: url('{{item.images.home_default[0]}}');" alt="" class="product-img"></div>
                    </div>

                    <div class="product-content">
                        <div class="product-row1">
                            <h3 class="product-brand">{{item.product_manufacturer_en_name}}</h3>
                            <p class="product-main-price">{{item.product_price.toLocaleString()}} <span>تومان</span></p>
                        </div>

                        <div class="product-row2">
                            <p class="product-name">{{item.product_name}}</p>
                            <p class="product-price">{{item.product_specific_price.specific_price.toLocaleString()}} <span>تومان</span></p>
                        </div>

                        <div class="product-row3">
                            <div class="product-size-list">
                                <div *ngIf='item.size.length >= 3'>
                                    <span class="size-item" *ngFor='let list of [1,2,3] let i = index'>{{item.size[i].name}}</span>
                                    <span class="remained-size-item" *ngIf='item.size.length -3 != 0'>+{{item.size.length - 3}}</span>
                                </div>

                                <div *ngIf='item.size.length < 3'>
                                    <div *ngFor='let sizeItem of item.size'>
                                        <span class="size-item">{{sizeItem.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>