<div class="flash-sales-container">
    <div class="flash-sales-header">
        <img src="./../../../../assets/icons/flashsales-icon.png" alt="شگفت انگیز های روز" class="flash-sales-brand">
        <div class="timer-container">
            <h4 class="timer-title">زمان باقی مانده تا پایان سفارش</h4>
            <div class="timer">
                <div *ngIf='hasTimeLeft; else expired'>
                    <span class="timer-number">{{hour}}</span>
                    :
                    <span class="timer-number">{{minute}}</span>
                    :
                    <span class="timer-number">{{second}}</span>
                </div>

                <ng-template #expired>
                    <h2>EXPIRED</h2>
                </ng-template>
            </div>
        </div>
    </div>
</div>